<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAdkIY-no00s104JN2RKX58Q23IAw64XoU</string>
	<key>GCM_SENDER_ID</key>
	<string>497286720241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Futboly.Futboly</string>
	<key>PROJECT_ID</key>
	<string>futboly-b86f6</string>
	<key>STORAGE_BUCKET</key>
	<string>futboly-b86f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497286720241:ios:7c5eda9064074ddcea1750</string>
</dict>
</plist>